html, body{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* -----------------------------------------------nav----------------------------------------- */

#nav{
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #173F5F;
    border-bottom: 2px solid grey;
    position: relative;
}

#home{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: whitesmoke;
    margin: 40px;
    border-radius: 10px;
}

#AboutUs{
    width: 150px;
    height: 50px;
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    margin-right: 70px;
    font-size: 18px;
}

#search-bar{
    width: 400px;
    height: 40px;
 }

 #search-bar input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

#more-content{
    width: 100px;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
  }
  
  #more-content:hover #dropdown-content {
    display: block;
}

#sign-in-button{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #sign-in-button button{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----------darkmode------------------------------------------------ */

#nav.dark{
	background: #292C35;
}

#under_nav.dark{
    background: #292C35;
    color: #fff;
}

#footer.dark{
    background: #292C35;
    color: #fff;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

#review-bar.dark{
    background: #292C35;
    color: #fff;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition:  0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

/* -------------------------------------------------change-font-size--------------------------------- */

#change-font-size{
    margin-top: 20px;
    padding: 0px;
 }

 #change-font-size input{
     height: auto;
     width: 100px;
 }

/* ----------------------------------------------aboutus------------------------------------------ */

#our_info{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: #20639B;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 2px solid grey;
}

.info{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: #164369;
    margin: 0px 5px;
    padding: 25px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: fit-content;

}

/* ----------------------------------------------under_nav----------------------------------------- */

#under_nav{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #20639B;
    border-bottom: 2px solid grey;
    position: relative;
}

#game-content{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 90%;
    margin: 10px 30px;
    border-radius: 10px;
}

.game_name{
    font: 100px;
    color: yellow;
    text-align: center;
}

#more{
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: black;
}

/* -----------------------------------------------------footer-------------------------------------------- */

#footer{
    background-color: #99ccff;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    height: fit-content;
    position: relative;
    border-bottom: 2px solid grey;
}

#left-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    flex-flow: column;
}

#icons{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 10px;
}

 #icons .icon{
     height: 30px;
     width: 30px;
     border-radius: 25px;
     margin: 0px 30px 0px 50px;
 }

 #infos{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
}

#right-footer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

/* -------------------------------review-form-page----------------------------------- */

#review-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex-grow: 1;
    background-color: #20639B;
    position: relative;
}

#list{
    height:100%;
    width: 5%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
 }

 #list button{
     height: 50px;
     width: 50px;
}

#review-content{
    box-sizing: border-box;
    width:70%;
    height: 100%;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    border-left: grey solid 3px;
    border-right: grey solid 3px;
    text-align: justify;
    padding: 10px 30px;
    font-size: 20px;
}

#advertise-content{
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

#gameplay-vid{
     width: 275px;
     height: 175px;
     margin: 10px 5px;
 }

 #gameplay-vid iframe{
     height: 200px;
     width: 275px;
}